@tailwind base;
@tailwind components;
@tailwind utilities;

li{
    padding:20px;
    display: inline-block;

}


/*
.navbar{

}
.nav-items{

}


h1{
    font-size: 25px;
}

a{
    text-decoration:none;
    font-size: 25px;
    color: darkgreen;
    font-family: "Agency FB";
    font-weight: bold;

}
nav{
    text-align: center;
    border-style: dashed;
}
ul{
    display: inline-block;
    text-align: left;

}


li{
    padding:5px;
    display: inline-block;
    background-color: bisque;
}
*/

